@tailwind base;
@tailwind components;
@tailwind utilities;

.max-unset {
  max-width: unset;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

lite-youtube {
  max-width: none !important;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */

    scrollbar-color: #004eb3 #f7f7f7; /* thumb color and track color */
  }

  /* For Chrome, Edge, and Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #004eb3;
    border-radius: 9999px;
    border: 2px solid #f7f7f7;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
  }

  /* Remove number input spinners in Chrome, Safari, Edge */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove number input spinners in Firefox */
  .no-spinner {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none !important;
  }
  html,
  body {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
  }
}
